name: Build zynthbox image

on:
  workflow_dispatch:

jobs:
  build:
    name: Build zynthbox image
    runs-on: ubuntu-22.04-arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      
      - name: Install dependencies
        run: |
          set -x
          sudo apt-get update
          sudo apt-get install -y openssh-client

      - name: Build image
        run: |
          set -x

          debian_release_name="bookworm"
          image_name="$(date "+%F_%H%M")-zynthboxos-${debian_release_name}-arm64.img"
          log_file_name="$image_name.build.log"
          mountdir=$(mktemp -d)

          # Ensuring key security
          mkdir -p ~/.ssh
          echo "${{ secrets.HOST_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan ${{secrets.HOSTNAME}} >> ~/.ssh/known_hosts

          # Update and install dependencies
          echo "# Update and install dependencies"
          sudo apt-get update
          sudo apt-get install -y coreutils p7zip-full qemu-user-static sudo git wget curl python3 lsof fdisk xz-utils openssh-client jq zip binutils

          # Clone repositories required to generate zynthbox image
          echo "# Clone repositories required to generate zynthbox image"
          git clone https://github.com/zynthbox/CustomPiOS.git
          git clone https://github.com/zynthbox/ZynthianOS.git

          # Download raspios base image
          wget -c --trust-server-names 'https://${{secrets.HOSTNAME}}/${{secrets.BASE_BOOKWORM_IMAGE_PATH}}'
          mv ./*-raspios-*.img.xz ./ZynthianOS/src/image

          # Setup Zynthbox Repo sourceline
          echo "# Setup Zynthbox Repo sourceline"
          echo "ZYNTHIANOS_ZYNTHBOX_REPO_KEY_URL='https://repo.zynthbox.io/repo_key.pub'" >> ZynthianOS/src/modules/zynthianos/config
          echo "ZYNTHIANOS_ZYNTHBOX_REPO_SOURCELINE='deb http://repo.zynthbox.io/testing-${debian_release_name} ${debian_release_name} main'" >> ZynthianOS/src/modules/zynthianos/config

          # Build zynthbox image
          echo "# Building zynthbox image"
          cd ./ZynthianOS/src
          ../../CustomPiOS/src/update-custompios-paths
          sudo bash -x ./build_dist
          sudo mv ./workspace/*.img ./workspace/$image_name
          echo "Image Size -> $(du -h ./workspace/$image_name)"

          # Compress image with xz and push
          echo "# Pushing compressed image"
          sudo xz -zv --threads=12 --memory=100% ./workspace/$image_name -c | ssh -i ~/.ssh/id_rsa -o "StrictHostKeyChecking no" ${{secrets.USERNAME}}@${{secrets.HOSTNAME}} "cat > ${{secrets.IMAGE_PATH}}/$image_name.xz"
          ssh -i ~/.ssh/id_rsa -o "StrictHostKeyChecking no" \
            "${{secrets.USERNAME}}@${{secrets.HOSTNAME}}" \
            "cd ${{secrets.IMAGE_PATH}} && md5sum $image_name.xz > $image_name.xz.md5sum.txt"

